body {
    background-color: #005377;
}

h1 {
    color: #FBCEB1;
    filter: drop-shadow(2px 2px 2px #B5D6D6);
}

p {
    color: #B5D6D6;
    filter: drop-shadow(1px 1px 1px #FBCEB1);
}

img {
    padding-bottom: 35px;
    display: inline-block;
    margin: 0 0.5rem;
    animation: swing;
    animation-duration: 3s;
    animation-delay: 2s;
}